@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;800;900&family=Tilt+Prism&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#area{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.main-box {
    position: relative;
    background-image: url(pexels-lenin-estrada-2569997.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
.main-box .sidebar-menu {
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    transition: 200ms;
    background-color: rgba(255, 255, 255, 0.066);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.505);
}

.sidebar-menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.505);
}

.sidebar-menu .logo a {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}
.sidebar-menu .menu {
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar-menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
    transition: all 300ms linear;
    
}

.sidebar-menu .menu i{
    color: #fff;
    font-size: 20px;
    padding-right:8px ;

}
.sidebar-menu .menu a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;

}

.sidebar-menu .menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.461);

}
.sidebar-menu .social_media {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    cursor: pointer;
}
.social_media i {
    padding: 0 5px;
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    transition: all 200ms linear;
}
.social_media i:hover{
    opacity: 1;
}
#check {
    display: none;
}

.main-box .btn-one i {
    font-size: 30px;
    font-family: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 300ms linear;
}
.sidebar-menu .btn-two i {
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0;
    transition: all 300ms linear;
}
.btn-one i:hover {
    font-size: 24px;
}
#check:checked ~ .sidebar-menu {
    left: 0px;
}
#check:checked ~ .btn-one i {
    opacity: 0;
}
#check:checked ~ .sidebar-menu .btn-two i {
    opacity: 1;
}